# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

if BOARD_LPGALAXY_BLANK_SLATE

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SPLIT
    default y

endif # BOARD_LPGALAXY_BLANK_SLATE